*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto;
    color: #666;
}

.App {
  width: 1200px;
  margin: 30px auto;

}

.App__mainBody {
    display: flex;
}

/**********************************************/
/* SEARCH FORM */

.searchForm {
    text-align: center;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.searchForm p {
    display: inline-block;
}

.searchForm img {
    width: 60px;
    height: 60px;
    border-radius: 50px;
    display: block;
    
}

.searchForm input {
    padding: 10px;
    flex-shrink: none;
    width: 600px;
    border: 2px solid rgba(198, 102, 75);
    font-size: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .18);
}

.searchForm input:focus {
    border: 2px solid rgba(198, 102, 75);
    outline: none;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .28);
}

.searchForm-btn {
    background-color: rgba(198, 102, 75);
    border: none;
    padding: 12.8px;
    font-weight: 600;
    color: aliceblue;
    text-transform: uppercase;
    letter-spacing: 1px;
    transform: translateY(-1px);
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .18);
}

.fa-user {
    font-size: 25px;
    color: #999;
}

.fa-user:hover {
    cursor: pointer;
    color: #333;
}

/**********************************************/
/* MAIN CONTENT */
.article__list {
    list-style: none;
    width: 800px;
    margin: 0 auto;
}

.article__listItem {
    background-color: rgba(194, 194, 194, 0.1);
    position: relative;
    height: 250px;
    padding: 30px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.24);
    border-left: 3px solid rgba(198, 102, 75);
    border-radius: 5px;
    overflow: hidden;
}

.listItem__mainContent {
    display: flex;
}

.listItem__maincontent-img {
    width: 180px;
    height: 180px;
    margin-right: 20px;
}

.listItem__maincontent-img img {
    width: 180px;
    height: 180px;
}

.listItem__maincontent-detail {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.detail-author {
    font-size: 18px;
    font-weight: 300;
    text-transform: uppercase;
    color: rgba(198, 102, 75);
}

.detail-title {
    font-size: 25px;
    font-weight: 700;

}

.detail-title a {
    text-decoration: none;
    color: inherit;
}

.detail-title a:hover {
    color: #333;
}

.detail-vote {
    display: flex;
    align-items: center;
}

.vote-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.vote-btn i {
    color: #999;
    font-size: 15px;
}

.vote-btn i:hover {
    color: #333;
}

.vote-btn-save {
    border: 1px solid rgba(198, 102, 75, .8);
    padding: 2px 10px;
    border-radius: 20px;
    color: #999;
    transition: all linear .1s;
}

.vote-btn-save:hover {
    background-color: rgba(198, 102, 75);
    color: #fff;
}

.detail-vote p {
    display: inline-block;
    margin: 0 8px;
}


.detail-time {
    text-align: right;
    font-size: 10px;
    width: 540px;
}

.listItem__subContent {
    background-color: black;
    position: absolute;
    bottom: 0px;
    right: -10px;
    height: 100%;
    width: 30%;
    text-align: center;
    opacity: 0;
    transition: all linear .3s;
}

.listItem__subContent p {
    padding: 30px;
    color: aliceblue;
    display: block;
}

.article__listItem:hover .listItem__subContent {
    right: 0;
    opacity: 0.8;
}

/**********************************************/
/* SIDE BAR */
.sideBar {
    width: 400px;
    list-style: none;
    margin-left: 10px;
    
}

.sideBar__mainContent {
    display: flex;
    background-color: #fff;
    margin-bottom: 10px;
}

.sideBar__mainContent:hover {
    background-color: rgba(194, 194, 194, 0.1);
}

.sideBar__img {
    width: 80px;
    height: 80px;
}

.sideBar__img img {
    width: 80px;
    height: 80px;
}

.sideBar__detail {
    margin-left: 10px;

}

.sideBar__detail--title a {
    text-decoration: none;
    color: inherit;
    font-size: 18px;
}

.sideBar__detail--title a:hover {
    color: #333;
}

.sideBar__detail--author {
    font-size: 13px;
    margin-top: 5px;
}